<div class="header">
    <div class="subHeader" routerLink="/getallemployee">
        <div class="logo">
            <img src="/assets/addemplogo.png">
        </div>
        <div class="txtEmp">
            <span class="empgreen">EMPLOYEE</span>
            <span class="paygrey">PAYROLL</span>
        </div>
    </div>
</div>
<div class="colorAll">
    <div class="container">
        <form class="formBox" [formGroup]="empForm" >
            <div class="formDataBox">
                <div class="formTxt">Employee Payroll Form</div>
                <div class="name">
                    <label class="txtname">Name:</label>
                    <div class="txtbox">
                        <mat-form-field appearance="outline" class="txtfield">
                            <input matInput placeholder="" formControlName="employeeName"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="name">
                    <label class="txtname">Profile Image :</label>
                    <div class="radiocontent">
                        <label class="radioprof">
                            <input type="radio" id="Profile1" name="profileImg" formControlName="profileImg"
                                value="/assets/meee.png">
                            <img class="profile" id="Profile1" src="/assets/meee.png">
                        </label>
                        <label class="radioprof">
                            <input type="radio" id="Profile2" name="profileImg" formControlName="profileImg"
                                value="/assets/women1.png">
                            <img class="profile" id="Profile2" src="/assets/women1.png">
                        </label>
                        <label class="radioprof">
                            <input type="radio" id="Profile3" name="profileImg" formControlName="profileImg"
                                value="/assets/man1.png">
                            <img class="profile" id="Profile3" src="/assets/man1.png">
                        </label>
                        <label class="radioprof">
                            <input type="radio" id="Profile4" name="profileImg" formControlName="profileImg"
                                value="/assets/women2.png">
                            <img class="profile" id="Profile4" src="/assets/women2.png">
                        </label>
                    </div>
                </div>
                <div class="name">
                    <label class="txtname" for="gender">Gender :</label>
                    <div class="radiocontent">
                        <label class="radioprof">
                            <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
                            <label for="male">Male</label>
                        </label>
                        <label class="radioprof">
                            <input type="radio" id="female" name="gender" value="FeMale" formControlName="gender">
                            <label for="female">Female</label>
                        </label>
                    </div>
                </div>
                <div class="name">
                    <label class="txtname" for="department">Department:</label>
                    <div class="chkbox">
                        <input id="HR" type="radio" name="department" value="HR" formControlName="department">
                        <label for="HR">HR</label>
                    </div>
                    <div class="chkbox">
                        <input id="Sales" type="radio" name="department" value="Sales" formControlName="department">
                        <label for="Sales">Sales</label>
                    </div>
                    <div class="chkbox">
                        <input id="Finance" type="radio" name="department" value="Finance" formControlName="department">
                        <label for="Finance">Finance</label>
                    </div>
                    <div class="chkbox">
                        <input id="Engineer" type="radio" name="department" value="Engineer" formControlName="department">
                        <label for="Engineer">Engineer</label>
                    </div>
                    <div class="chkbox">
                        <input id="Other" type="radio" name="department" value="Other" formControlName="department">
                        <label for="Other">Other</label>
                    </div>
                </div>
                <div class="name">
                    <label class="txtname" for="salary">Salary :</label>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Select Salary" >
                            <mat-option>
                            <input id="10000" type="radio" name="salary" value="10000" formControlName="salary">
                            <label for="10000">10000</label>
                        </mat-option>
                        <mat-option>
                            <input id="20000" type="radio" name="salary" value="20000" formControlName="salary">
                            <label for="20000">20000</label>
                        </mat-option>
                        <mat-option>
                            <input id="30000" type="radio" name="salary" value="30000" formControlName="salary">
                            <label for="30000">30000</label>
                        </mat-option>
                        <mat-option>
                            <input id="40000" type="radio" name="salary" value="40000" formControlName="salary">
                            <label for="40000">40000</label>
                        </mat-option>
                        <mat-option>
                            <input id="50000" type="radio" name="salary" value="50000" formControlName="salary">
                            <label for="50000">50000</label>
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="name">
                    <label class="txtname" for="date">Start Date :</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="startDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="txtareabox">
                    <label class="txtname" for="inputnotes">Notes:</label>
                    <textarea type="text" placeholder="Type your message here..." formControlName="notes"></textarea>
                </div>
                <div class="rowbutton">
                    <div>
                        <button mat-flat-button class="btn">Cancle</button>
                    </div>
                    <div>
                        <button mat-flat-button class="btn" type="submit" (click)="onSubmit()">Submit</button>
                        <button mat-flat-button class="btn1" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>