<h2 mat-dialog-title>Update Employee Details</h2>
<mat-dialog-content class="mat-typography">
    <div class="container">
  <form>
    <div class="formDataBox">
        <div class="name">
            <label class="txtname">Name:</label>
            <div class="txtbox">
                <mat-form-field appearance="outline" class="txtfield">
                    <input matInput placeholder=""/>
                </mat-form-field>
            </div>
        </div>
        <div class="name">
            <label class="txtname">Profile Image :</label>
            <div class="radiocontent">
                <label class="radioprof">
                    <input type="radio" id="Profile1" name="profileImage"
                        value="/assets/meee.png">
                    <img class="profile" id="Profile1" src="/assets/meee.png">
                </label>
                <label class="radioprof">
                    <input type="radio" id="Profile2" name="profileImage"
                        value="/assets/women1.png">
                    <img class="profile" id="Profile2" src="/assets/women1.png">
                </label>
                <label class="radioprof">
                    <input type="radio" id="Profile3" name="profileImage"
                        value="/assets/man1.png">
                    <img class="profile" id="Profile3" src="/assets/man1.png">
                </label>
                <label class="radioprof">
                    <input type="radio" id="Profile4" name="profileImage"
                        value="/assets/women2.png">
                    <img class="profile" id="Profile4" src="/assets/women2.png">
                </label>
            </div>
        </div>
        <div class="name">
            <label class="txtname" for="gender">Gender :</label>
            <div class="radiocontent">
                <label class="radioprof">
                    <input type="radio" id="male" name="gender" value="Male">
                    <label for="male">Male</label>
                </label>
                <label class="radioprof">
                    <input type="radio" id="female" name="gender" value="FeMale">
                    <label for="female">Female</label>
                </label>
            </div>
        </div>
        <div class="name">
            <label class="txtname" for="department">Department:</label>
            <div class="chkbox">
                <input class="nameofdept" id="HR" type="checkbox" name="department" value="HR">
                <label for="HR">HR</label>
            </div>
            <div class="chkbox">
                <input class="nameofdept" id="Sales" type="checkbox" name="department" value="Sales">
                <label for="Sales">Sales</label>
            </div>
            <div class="chkbox">
                <input class="nameofdept" id="Finance" type="checkbox" name="department" value="Finance">
                <label for="Finance">Finance</label>
            </div>
            <div class="chkbox">
                <input class="nameofdept" id="Engineer" type="checkbox" name="department" value="Engineer">
                <label for="Engineer">Engineer</label>
            </div>
            <div class="chkbox">
                <input class="nameofdept" id="Other" type="checkbox" name="department" value="Other">
                <label for="Other">Other</label>
            </div>
        </div>
        <div class="name">
            <label class="txtname" for="salary">Salary :</label>
            <mat-form-field appearance="outline">
                <mat-select placeholder="Select Salary">
                    <mat-option value="10000">10000</mat-option>
                    <mat-option value="20000">20000</mat-option>
                    <mat-option value="30000">30000</mat-option>
                    <mat-option value="40000">40000</mat-option>
                    <mat-option value="50000">50000</mat-option>
                    <mat-option value="60000">60000</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="name">
            <label class="txtname" for="date">Start Date :</label>
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>
        <div class="txtareabox">
            <label class="txtname" for="inputnotes">Notes:</label>
            <textarea type="text" placeholder="Type your message here..."></textarea>
        </div>
    </div>

    <mat-dialog-actions class="btnx">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit" cdkFocusInitial class="updateBtn">Update</button>
    </mat-dialog-actions>
</form>
</div>
</mat-dialog-content>
